In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
data.columns

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
data.sort_values('budget',ascending = False).head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010
724,tt1298650,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,3180,6.3,2011
1670,tt0449088,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,2626,6.8,2007
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015
1015,tt0401729,1.588457,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,1479,6.0,2012

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data.sort_values('runtime').tail(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
505,tt0213149,2.478879,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,1044,6.6,2001
1337,tt0360717,1.508329,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,1289,6.4,2005
1737,tt0462322,0.906938,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,197,6.5,2007
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [8]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data.sort_values('runtime').head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011
931,tt0280030,0.678896,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,174,6.2,2002
1098,tt0283426,1.781615,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,156,5.6,2003
1627,tt0299172,0.837906,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,4/2/2004,210,5.8,2004
1409,tt0361089,0.558258,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,138,5.3,2005

In [10]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
data['runtime'].mean()

109.65343915343915

In [12]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
data['runtime'].median()

106.5

In [14]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data['profit'] = data['revenue']-data['budget']
data.sort_values('profit', ascending=False)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959,tt0180052,0.912373,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,8/15/2002,75,4.6,2002,-92896027
810,tt1305591,0.921653,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,129,5.5,2011,-111007242
1617,tt0318974,0.948560,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,60,5.9,2004,-119180039
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [16]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
data.sort_values('profit').head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
1617,tt0318974,0.948560,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,60,5.9,2004,-119180039
810,tt1305591,0.921653,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,129,5.5,2011,-111007242
959,tt0180052,0.912373,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,8/15/2002,75,4.6,2002,-92896027

In [18]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [19]:
(data['profit']>0).sum()

1478

In [20]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
mask = data['release_year'] == 2008
data[mask].sort_values('profit').tail(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
622,tt0448157,1.800286,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,1764,6.0,2008,474029371
607,tt0441773,3.036644,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,1938,6.8,2008,501744560
608,tt0795421,2.543535,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,805,6.2,2008,557841637
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,1537,5.6,2008,601636033
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [22]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [23]:
mask = data['release_year'].isin([2012,2013,2014])
data[mask].sort_values('profit').head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,876,5.3,2013,-68351500
1008,tt1374992,1.690572,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,695,6.1,2012,-51893525
1303,tt0884726,0.354271,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,36,6.1,2013,-51337973
1236,tt1308729,1.319947,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,347,5.2,2013,-45510171

In [24]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [25]:
data['genres'].value_counts()

Comedy                                141
Drama                                 102
Comedy|Romance                         60
Drama|Romance                          45
Horror|Thriller                        35
                                     ...
Action|Crime|Drama|Comedy|Thriller      1
Action|Adventure|Thriller|Crime         1
Drama|Horror                            1
Adventure|Fantasy|Action|Family         1
Adventure|Action|Comedy                 1
Name: genres, Length: 653, dtype: int64

In [26]:
answer_ls.append(4)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [27]:
mask = data['profit']>0
c = Counter()
for genres in data[mask]['genres'].str.split('|'):
    for genre in genres:
        c[genre] += 1
print(c)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

In [28]:
answer_ls.append(2)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [29]:
data.groupby(['director']).count().sort_values('budget').tail(5)

,imdb_id,popularity,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
director,,,,,,,,,,,,,,,,
Steven Spielberg,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Shawn Levy,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Clint Eastwood,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Ridley Scott,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Steven Soderbergh,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13

In [30]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [31]:
mask = data['profit'] > 0
data[mask].groupby(['director']).count().sort_values('profit',ascending = False)

,imdb_id,popularity,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
director,,,,,,,,,,,,,,,,
Ridley Scott,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Steven Spielberg,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Steven Soderbergh,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Clint Eastwood,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Shawn Levy,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jennifer Flackett|Mark Levin,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jeff Wadlow,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jeff Nichols,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Jean-Marc VallÃ©e,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Joshua Michael Stern,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [32]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [33]:
s = set()
for dirs in data['director'].str.split('|'):
    for director in dirs:
        s.add(director)
c = Counter()
for director in s:
    mask = data['director'].str.contains(director)
    c[director] += data[mask]['profit'].sum()
print(c)

Counter({'Peter Jackson': 5202593685, 'David Yates': 3379295625, 'Christopher Nolan': 3162548502, 'J.J. Abrams': 2839169916, 'Michael Bay': 2760938960, 'James Cameron': 2548546718, 'Francis Lawrence': 2476979588, 'Pierre Coffin': 2452006832, 'Steven Spielberg': 2449700791, 'Joss Whedon': 2424593677, 'Gore Verbinski': 2271362290, 'Sam Raimi': 2254066354, 'McG': 2187121992, 'Lee Unkrich': 2081614145, 'Ridley Scott': 2044035909, 'Andrew Adamson': 1957706346, 'Chris Columbus': 1906968952, 'Carlos Saldanha': 1882719105, 'Tim Burton': 1801663457, 'Eric Darnell': 1755054393, 'Sam Mendes': 1710352791, 'Tom McGrath': 1705388064, 'Pete Docter': 1682867609, 'Chris Renaud': 1648116186, 'James Wan': 1620441367, 'Brad Bird': 1581913958, 'Conrad Vernon': 1578269902, 'Shawn Levy': 1515787063, 'Justin Lin': 1472947074, 'Steven Soderbergh': 1450928588, 'Ron Howard': 1379257991, 'Bill Condon': 1376664544, 'Colin Trevorrow': 1363528810, 'Kyle Balda': 1361571278, 'Clint Eastwood': 1329766334, 'Roland Emmerich': 1310587076, 'Todd Phillips': 1279393447, 'George Lucas': 1266398328, 'Alfonso CuarÃ³n': 1265157010, 'Chris Buck': 1188263522, 'Raja Gosnell': 1188104000, 'M. Night Shyamalan': 1152548638, 'Rob Marshall': 1143605066, 'Steve Martino': 1141615909, 'Andrew Stanton': 1136076938, 'Jennifer Lee': 1124219009, 'Marc Webb': 1096156023, 'Chris Miller': 1063945642, 'Jon Favreau': 1057296331, 'Quentin Tarantino': 1036139583, 'Shane Black': 1015439994, 'Zack Snyder': 992937193, 'David Fincher': 987983520, 'Kelly Asbury': 966114729, 'Jay Roach': 956344409, 'Chris Weitz': 954062326, 'Mike Mitchell': 906666117, 'David Silverman': 899885107, 'Nancy Meyers': 893677472, 'Mike Newell': 890683287, 'Lilly Wachowski': 874004266, 'Lana Wachowski': 874004266, 'Dean DeBlois': 859773334, 'Doug Liman': 854203108, 'Christopher Miller': 850176100, 'Phil Lord': 850176100, 'Chris Sanders': 845829214, 'Brett Ratner': 843419041, 'Tom Hooper': 829212842, 'Marc Forster': 817521590, 'Robert Zemeckis': 813123904, 'Bryan Singer': 811212100, 'Martin Scorsese': 802194907, 'Mike Thurmeier': 782244782, 'Dennis Dugan': 774026753, 'Ang Lee': 761420806, 'Guy Ritchie': 758085675, 'Jon Turteltaub': 751201254, 'Peyton Reed': 745340963, 'Kenneth Branagh': 732015467, 'Peter Berg': 721181428, 'Rob Letterman': 716338428, 'Olivier Megaton': 708858133, 'Vicky Jenson': 708089482, 'Barry Sonnenfeld': 706867642, 'John Lasseter': 701835545, 'Christopher McQuarrie': 690670734, 'Matt Reeves': 688109639, 'Paul Greengrass': 682493340, 'Chris Wedge': 678380764, 'Tim Story': 678087416, 'Gary Ross': 677547137, 'David Slade': 675997320, 'James Mangold': 674085743, 'Martin Campbell': 671862395, 'Brad Peyton': 664667356, 'Mel Gibson': 662074710, 'Phyllida Lloyd': 659798336, 'Genndy Tartakovsky': 659559147, 'Paul W.S. Anderson': 655874490, 'Seth MacFarlane': 647231921, 'Chris Williams': 647085437, 'Matthew Vaughn': 640971176, 'Raman Hui': 638958165, 'Jonathan Liebesman': 635666756, 'Alejandro GonzÃ¡lez IÃ±Ã¡rritu': 633923618, 'James Gunn': 629751387, 'Joe Russo': 621197940, 'Anthony Russo': 621197940, 'Joel Coen': 616968145, 'Stephen Sommers': 602739766, 'Alan Taylor': 595368537, 'Andy Tennant': 585953885, 'Rob Cohen': 580154301, 'Robert Stromberg': 578410378, 'Darren Aronofsky': 571450089, 'Wes Ball': 564576787, 'Bob Peterson': 556342744, 'Wolfgang Petersen': 549841306, 'Danny Boyle': 548659594, 'Peter Segal': 545449931, 'Dan Scanlon': 543559607, 'Paul Feig': 542223922, 'Michael Patrick King': 538600478, 'Mark Osborne': 535315810, 'George Miller': 533178428, 'Sam Taylor-Johnson': 529651467, 'Anne Fletcher': 526509398, 'David Frankel': 526362906, 'Adam McKay': 517576455, 'Jennifer Yuh': 515692281, 'Joe Johnston': 514454033, 'Ethan Coen': 512027330, 'John Stevenson': 501744560, 'Robert Rodriguez': 496768969, 'Antoine Fuqua': 496376048, 'Byron Howard': 491774930, 'Adam Shankman': 486562773, 'Len Wiseman': 482382796, 'Edward Zwick': 479612124, 'Kirk De Micco': 476979273, 'Jan Pinkava': 473722818, 'Don Hall': 471565443, 'Keenen Ivory Wayans': 468922045, 'Guillermo del Toro': 456999810, 'Robert Luketic': 439591681, 'Garry Marshall': 434014880, 'Peter Farrelly': 433240078, 'Luc Besson': 430254288, 'Tim Hill': 427612737, 'John Woo': 420286182, 'Judd Apatow': 417839316, 'Steve Carr': 414906672, 'F. Gary Gray': 413972930, 'Bobby Farrelly': 406801090, 'Neill Blomkamp': 405029579, 'Rupert Wyatt': 404031315, 'Simon West': 402421114, 'Nicholas Stoller': 399269922, 'Joseph Kosinski': 396231335, 'Tom Shadyac': 394895235, 'Jason Reitman': 391814120, 'Catherine Hardwicke': 391190744, 'Sylvester Stallone': 389435816, 'Neil Burger': 385512367, 'John Moore': 385021803, 'Andy Fickman': 380448412, 'David O. Russell': 380101390, 'Harald Zwart': 379213630, 'Simon J. Smith': 379146671, 'Nick Cassavetes': 375344067, 'Gareth Edwards': 369076069, 'Gabriele Muccino': 365244986, 'Joel Zwick': 363744044, 'Loveleen Tandan': 362910544, 'Lasse HallstrÃ¶m': 361144542, 'Brad Lewis': 359852396, 'Larry Charles': 357952277, 'Betty Thomas': 354710811, 'Kevin Lima': 354099423, 'Steve Purcell': 353983207, 'Mark Andrews': 353983207, 'Brenda Chapman': 353983207, 'Jaume Collet-Serra': 345520013, 'Jonathan Mostow': 343111187, 'Rob Minkoff': 343066126, 'Nick Park': 342287396, 'Joe Ranft': 341983149, 'Jon M. Chu': 339884147, 'Ariel Schulman': 338521810, 'Henry Joost': 338521810, 'David Dobkin': 338508402, 'Alex Proyas': 332681278, 'Alexander Payne': 332234956, 'Nathan Greno': 331794936, 'John Singleton': 329390637, 'Tarsem Singh': 325601608, 'Ben Affleck': 320469963, 'Mark Waters': 310391771, 'Tim Johnson': 308890347, 'Donald Petrie': 307986622, 'Tony Scott': 307816918, 'D.J. Caruso': 306316571, 'Rich Moore': 306222889, 'David Zucker': 305935837, 'Seth Gordon': 304698707, 'Robert Schwentke': 298938962, 'Paul Weitz': 296134283, 'John Lee Hancock': 294169892, 'Josh Boone': 293151265, 'Baz Luhrmann': 292307855, 'Frank Coraci': 290707563, 'Peter Chelsom': 290190043, 'Elizabeth Banks': 284945182, 'Darren Lynn Bousman': 283229448, 'Scott Derrickson': 278310327, 'Michael Apted': 274487404, 'Bibo Bergeron': 273707746, 'Jake Kasdan': 265584152, 'Jeff Tremaine': 257892561, 'J.B. Rogers': 257553595, 'Baltasar KormÃ¡kur': 257467995, 'Sharon Maguire': 256929795, 'Lee Tamahori': 256062835, 'David R. Ellis': 253164703, 'Will Gluck': 251257886, 'John R. Leonetti': 248773813, 'Brian A Miller': 248586800, 'Louis Leterrier': 246091791, 'Michael Mann': 244130185, 'Sean Anders': 243064116, 'Wes Anderson': 238584160, 'Peter Lord': 238172925, 'Paul Tibbitt': 237594032, 'Mikael HÃ¥fstrÃ¶m': 237121418, 'Mark Dindal': 233760352, 'Woody Allen': 231220507, 'Noam Murro': 231150015, 'Jimmy Hayward': 230677014, 'Ben Stiller': 226986952, 'Ralph Zondag': 226748063, 'Eric Leighton': 226748063, 'Rupert Sanders': 226600000, 'Timur Bekmambetov': 226535147, 'Phillip Noyce': 225309529, 'Gavin Hood': 223765839, 'Steven Quale': 221489837, 'Mark Steven Johnson': 219918111, 'Morten Tyldum': 219555708, 'Hayden Schlossberg': 216482707, 'Jon Hurwitz': 216482707, 'Greg Mottola': 215077082, 'Stephen Frears': 213640295, 'David Ayer': 213022677, 'Luke Greenfield': 212707109, 'Dominic Sena': 212588740, 'Jesse Dylan': 206675071, 'Scott Waugh': 206550402, 'Steve Bendelack': 204736344, 'Paul King': 204207227, 'Stephen Daldry': 204093953, 'Jason Friedberg': 199717971, 'Aaron Seltzer': 199717971, 'George Clooney': 199090901, 'Steven Brill': 198339641, 'Ken Kwapis': 198330028, 'Tony Gilroy': 196418121, 'John Requa': 194366195, 'Glenn Ficarra': 194366195, 'Takashi Shimizu': 192618441, 'Richard Curtis': 191280550, 'Wes Craven': 189989623, 'Joel Schumacher': 186642604, 'Oliver Stone': 183398571, 'Thor Freudenthal': 183313709, 'John Hamburg': 180600372, 'Florian Henckel von Donnersmarck': 178346189, 'Eric Brevig': 178286201, 'Josh Trank': 177977595, 'Cameron Crowe': 177138780, 'Joe Wright': 176304564, 'Tommy Wirkola': 174803475, 'Curtis Hanson': 174000000, 'Kevin Greutert': 173384063, 'Jason Moore': 173361479, 'Kris Pearn': 170384621, 'Cody Cameron': 170384621, 'Pierre Morel': 170079448, 'Klay Hall': 169788712, 'Steve McQueen': 167000000, 'Marc Lawrence': 166531590, 'Michael Sucsy': 166114570, 'Michael Lembeck': 163658589, 'Steve Box': 162452832, 'Alejandro AmenÃ¡bar': 161988542, 'Peter Ramsey': 161941670, 'Anthony Stacchi': 160564797, 'Michel Gondry': 160075374, 'Joe Carnahan': 159621022, 'Boaz Yakin': 158115781, 'Peter Sohn': 156926147, 'Randall Wallace': 154245117, 'Alexandre Aja': 151248317, 'James Bobin': 150567350, 'John Whitesell': 149874476, 'Stefen Fangmeier': 149288105, 'Rawson Marshall Thurber': 147722310, 'David Soren': 147570682, 'Richard LaGravenese': 147006123, 'Gary Shore': 145529201, 'Ryan Murphy': 144594016, 'Lee Daniels': 144570008, 'Gary Winick': 144119158, 'Hoyt Yeatman': 142817841, 'Ivan Reitman': 141156732, 'Jonathan Levine': 140564441, 'John Madden': 140007855, 'Thomas Carter': 139836045, 'Juan Antonio Bayona': 138274123, 'Malcolm D. Lee': 138259197, 'Steve Hickner': 137594577, 'Kirk Jones': 137189822, 'John Erick Dowdle': 136957466, 'Ruben Fleischer': 136539725, 'Nora Ephron': 135966668, 'Andrew Niccol': 135385692, 'Rob Reiner': 134674961, 'Mike Nichols': 132505437, 'Ron Clements': 131623880, 'John Musker': 131623880, 'Andy Muschietti': 131497771, 'Denis Villeneuve': 130152503, 'Brian Taylor': 128537513, 'Mark Neveldine': 128537513, 'Peter Hewitt': 128310722, 'Michael Moore': 126089539, 'James Wong': 123021472, 'David S. Goyer': 121229529, 'Tom Tykwer': 120824582, 'Duncan Jones': 120092801, 'Paul Haggis': 119600502, 'JosÃ© Padilha': 119379423, 'Tom Vaughan': 119134293, 'Michel Hazanavicius': 118432856, 'Albert Hughes': 116665870, 'Burr Steers': 116235645, 'Patrick Hughes': 116172544, 'Steve Trenbirth': 115680000, 'Oliver Parker': 115078586, 'Marcus Nispel': 114568588, 'Spike Lee': 114237276, 'Roger Allers': 112309027, 'Jill Culton': 112309027, 'Wayne Wang': 111952200, 'James Watkins': 110730736, 'Stephen Hillenburg': 110161792, 'David Twohy': 110150325, 'Peter Howitt': 108416018, 'Gregory Jacobs': 107613057, 'Scott Speer': 107470746, 'James Marsh': 106201940, 'Chuck Russell': 105333180, 'Mathieu Kassovitz': 103699932, 'David Hackl': 103057533, 'Ryan Coogler': 102935567, 'Roman Polanski': 102897944, 'Russell Mulcahy': 102717833, 'Pete Travis': 102199233, 'Brian Helgeland': 102041486, 'Dean Parisot': 102026112, 'Tyler Perry': 101866560, 'Peter Billingsley': 101844840, 'Stephen Norrington': 101265204, 'Roberts Gannaway': 101165787, 'James DeMonaco': 99782847, 'Nigel Cole': 99428778, 'Tate Taylor': 99272124, 'Angelina Jolie': 98442937, 'John Polson': 97644820, 'Stiles White': 97529779, 'Taylor Hackford': 95948175, 'NimrÃ³d Antal': 95464646, 'Victor Salva': 95320455, 'Paul Verhoeven': 95213455, 'Leigh Whannell': 94303851, 'Anthony Minghella': 94013509, 'Alastair Fothergill': 94000000, 'Mark Linfield': 94000000, 'Jonathan Dayton': 92523181, 'Valerie Faris': 92523181, 'Walt Becker': 90494793, 'Bennett Miller': 90387346, 'P.J. Hogan': 90307754, 'Robin Budd': 89862682, 'Donovan Cook': 89862682, 'Andrew Douglas': 89047131, 'Camille Delamarre': 88526499, 'Gil Kenan': 88482048, 'Nima Nourizadeh': 88000000, 'Andrzej Bartkowiak': 86236439, 'Ronny Yu': 84908830, 'Alexander Witt': 84394835, 'Eric Bress': 83060858, 'J. Mackye Gruber': 83060858, 'Sydney Pollack': 82944923, 'Miguel Arteta': 81510273, 'Christopher B. Landon': 81362372, 'Kevin Rodney Sullivan': 80986300, 'Samuel Bayer': 80664037, 'Steve Pink': 80579955, 'Fede Alvarez': 80542952, 'Ben Falcone': 80525432, 'Frank Marshall': 80455994, 'Allen Hughes': 80367034, 'Charles Herman-Wurmfeld': 79914842, 'Simon Curtis': 79277469, 'Alister Grierson': 78609310, 'Brad Furman': 78029544, 'George Nolfi': 77669379, 'Kevin Smith': 77365452, 'Mike Johnson': 77195061, 'Daniel Espinosa': 76400535, 'Xavier Gens': 75965753, 'Joseph Ruben': 75575636, 'Danny Leiner': 75117631, 'Karey Kirkpatrick': 75019340, 'Richard Linklater': 74852964, 'Alejandro Agresti': 74830111, 'Charles Martin Smith': 74828930, 'Breck Eisner': 74622276, 'Jake Schreier': 73512300, 'Bryan Bertino': 73391145, 'Jonathan M. Goldstein': 73384188, 'John Francis Daley': 73384188, 'GÃ¡bor CsupÃ³': 72657393, 'Scott Cooper': 72638116, 'Jay Russell': 72613150, 'Frank Miller': 72172773, 'Kevin Macdonald': 71934204, 'Ole Bornedal': 71446075, 'Patrick Lussier': 69666456, 'Mike McCoy': 69272766, 'Adrian Lyne': 69137784, 'David McNally': 68916474, 'Roger Michell': 68720944, 'Tom McCarthy': 68346473, 'Gregory Plotkin': 68099553, 'Robert Altman': 67954044, 'R.J. Cutler': 67874843, 'Greg Berlanti': 67610124, 'Etan Cohen': 66511453, 'Kirk Wise': 66053725, 'Gary Trousdale': 66053725, 'Tom Dey': 65218768, 'Geoffrey Sax': 65134289, 'Gus Van Sant': 64775136, 'John Luessenhop': 64297640, 'Mennan Yapo': 64146832, 'Ash Brannon': 64044513, 'Frederik Du Chau': 63772522, 'Mark Levin': 63076342, 'Jennifer Flackett': 63076342, 'Lone Scherfig': 62986285, 'Sylvain White': 62511123, 'BjÃ¶rn Stein': 62400000, 'MÃ¥ns MÃ¥rlind': 62400000, 'Jan de Bont': 61505388, 'Evan Goldberg': 61346497, 'Seth Rogen': 61346497, 'Nicolas Winding Refn': 61175166, 'John A. Davis': 61117361, 'Gary Fleder': 61026626, 'Rajkumar Hirani': 61000000, 'Jonathan Lynn': 60524694, 'Scott Stewart': 60227789, 'Brian Levant': 59623481, 'David Leitch': 58739897, 'Chad Stahelski': 58739897, 'Jeff Newitt': 58338361, 'Susanna White': 58246388, 'Scott Hicks': 57786831, 'Rob Zombie': 57542817, 'Fernando Meirelles': 57466670, 'Jay Chandrasekhar': 57305331, 'Colin Strause': 56821036, 'Greg Strause': 56821036, 'Jeremy Garelick': 56799880, 'Patrick Tatopoulos': 56327197, 'Bille Woodruff': 55998113, 'John Wells': 55678257, 'John Carney': 55464861, 'Kathryn Bigelow': 54989682, 'Clark Johnson': 54563692, 'Garth Jennings': 54478416, 'Joel Edgerton': 53978653, 'Steve Shill': 53830340, 'David Wain': 53540861, 'Terry Zwigoff': 53488889, 'Kimberly Peirce': 52394288, 'Patty Jenkins': 52378584, 'Peter Weir': 52359360, 'John Crowley': 51076141, 'Mark Rosman': 51067909, 'Joel Gallen': 50468332, 'Brad Anderson': 49702023, 'Craig Brewer': 49648810, 'Juan Carlos Fresnadillo': 49238440, 'Tamra Davis': 49141030, 'Iain Softley': 48780332, 'Dustin Hoffman': 48520298, 'Richard Loncraine': 48312007, 'David M. Rosenthal': 48273173, 'Graham Annable': 48255770, 'Jared Hess': 48197993, 'Christophe Gans': 47607453, 'Aleksander Bach': 47347656, 'Stephen Kay': 47192859, 'Chris Butler': 47139399, 'Ava DuVernay': 46787908, 'Michael Dougherty': 46548707, 'Barry Cook': 46546518, 'Neil Nightingale': 46546518, 'Kevin Costner': 46296293, 'Kevin Munroe': 46243057, 'George Tillman, Jr.': 45828190, 'Christopher Spencer': 45800064, 'Fred Wolf': 45442940, 'Harold Ramis': 44741108, 'Grant Heslov': 44729358, 'Paul Weiland': 44601681, 'Xavier Palud': 44309766, 'David Moreau': 44309766, 'Julie Taymor': 44298474, 'Shekhar Kapur': 44120208, 'Peter Hedges': 43377859, 'Ciaran Foy': 42882018, 'Jean-Marc VallÃ©e': 42608174, 'Lorna Cook': 42563539, 'Alan Poul': 42477008, 'Theodore Melfi': 41837234, 'Salim Akil': 41748079, 'Sean Penn': 41255142, 'Trish Sie': 41165646, 'Kirsten Sheridan': 41122026, 'Sam Miller': 40630415, 'David Gordon Green': 39790930, 'Chris Nahon': 39437847, 'Jonathan Demme': 39431292, 'Mike Flanagan': 39030246, 'Paul Thomas Anderson': 38550580, 'Jim Fall': 38534455, 'Chris Carter': 38369434, 'Spike Jonze': 38152424, 'Fyodor Bondarchuk': 38129518, 'Brad Silberling': 37762476, 'James McTeigue': 37702647, 'Jerry Zucker': 37498534, 'Drew Goddard': 36486080, "Gavin O'Connor": 36445708, 'Todd Edwards': 36053787, 'Tony Leech': 36053787, 'Cory Edwards': 36053787, 'Jim Jarmusch': 35742101, 'Sanjay Gadhvi': 35396427, 'Nicholas Hytner': 35387687, 'Jon Lucas': 35065672, 'Scott Moore': 35065672, 'Ari Sandel': 35028634, 'Marcos MartÃ\xadnez': 34945765, 'Jorge Blanco': 34945765, 'Javier Abad': 34945765, 'Gina Prince-Bythewood': 34833513, 'Mark Romanek': 34678538, 'Chris Gorak': 34626786, 'Callan Brunker': 34597643, 'Steve Antin': 34519773, 'Richard Eyre': 34469904, 'Mark Helfrich': 34192128, 'James Gray': 33926886, 'Michael McCullers': 33833449, 'Toby Wilkins': 33610009, 'Lawrence Guterman': 33375151, 'Steve Beck': 33349884, 'Olatunde Osunsanmi': 32333295, 'Dave Green': 32300000, 'Clare Kilner': 32175038, 'Peter Webber': 32169884, 'George A. Romero': 31770602, 'John Patrick Shanley': 30907234, 'Will Speck': 30830607, 'Josh Gordon': 30830607, 'David Cronenberg': 30378780, 'Ted Demme': 30282296, 'Dan Gilroy': 30197217, 'Roger Kumble': 30036947, 'Jim Field Smith': 29779728, 'Stephen Gaghan': 29719357, 'Matt Bettinelli-Olpin': 29433975, 'Tyler Gillett': 29433975, 'Lenny Abrahamson': 29401758, 'Charles Stone III': 29388787, 'Sean McNamara': 29088990, 'Michael Spierig': 28916464, 'Peter Spierig': 28916464, 'Ericson Core': 28718711, 'Rupert Wainwright': 28201432, 'Todd Haynes': 28001170, 'Robert Pulcini': 27738099, 'Shari Springer Berman': 27738099, 'Carl Franklin': 27277373, 'Mary Harron': 27266564, 'Lars von Trier': 27231879, 'Harmony Korine': 26724284, 'Patrik Forsberg': 26438988, 'Rusty Cundieff': 26438988, 'James Duffy': 26438988, 'Will Graham': 26438988, 'Griffin Dunne': 26438988, 'Jonathan van Tulleken': 26438988, 'Greg Coolidge': 26368909, 'Denzel Washington': 26093730, 'Florent-Emilio Siri': 25944725, "Pat O'Connor": 25754228, 'Jessie Nelson': 25270895, 'John Stockwell': 25206241, 'Phil Traill': 25105542, 'Rick Rosenthal': 24664855, 'Sofia Coppola': 24620072, 'Christian E. Christiansen': 24492759, 'Peter Sollett': 23973937, 'Nicholas Jarecki': 23485056, 'John Hillcoat': 23311885, 'Mark Pellington': 23157539, 'David Schwimmer': 23000000, 'Corey Yuen Kwai': 22928932, 'Stephen Hopkins': 22771059, 'Terrence Malick': 22674226, 'Alex Garland': 21869414, 'Steve Oedekerk': 21779000, 'Jonathan Hensleigh': 21700105, 'Bruce A. Evans': 21637263, 'Jeff Wadlow': 21627431, 'Daniel Barnz': 21525852, 'Martin McDonagh': 21424799, 'Craig Gillespie': 21229864, 'Jonas Elmer': 21010817, 'Neil LaBute': 20804647, 'Dan Cutforth': 20726956, 'Jane Lipsitz': 20726956, 'Gonzalo LÃ³pez-Gallego': 20562924, 'Joshua Michael Stern': 20531410, 'Terry George': 20500000, 'Derek Cianfrance': 20485608, 'Stephen Chbosky': 20400000, 'Troy Miller': 20267515, 'Dean Israelite': 20248241, "Matthew O'Callaghan": 19834815, 'Shana Feste': 19607114, 'David Koepp': 19415330, 'Stephen J. Anderson': 19332978, 'Ben Gluck': 19300000, 'Anthony Bell': 19300000, 'Doug Ellin': 19263404, 'Christopher Erskin': 19179516, 'Sergey Bodrov': 19178613, 'Trey Parker': 18907422, 'Feng Xiaogang': 18786960, 'Shane Acker': 18428063, 'Simon Wincer': 18288674, 'Brandon Camp': 18133014, 'William Brent Bell': 18105095, 'Tom Gormican': 18049082, 'Lee Toland Krieger': 17629776, 'Terry Gilliam': 17316267, 'Todd Strauss-Schulson': 16387212, 'Brian Robbins': 16076018, 'Rob Schmidt': 16050575, 'Angela Robinson': 16002004, 'Mimi Leder': 15707411, 'Philip G. Atwell': 15452643, 'Dave Meyers': 15399945, 'Frank Oz': 15069884, 'Mike Binder': 14793497, 'Jean-Jacques Annaud': 14648320, 'FranÃ§ois Ozon': 14641323, 'Scott Frank': 14548630, 'Sara Sugarman': 14331068, 'Jon Amiel': 14208267, 'Roger Spottiswoode': 14085477, 'Julian Jarrold': 14015963, 'Paul McGuigan': 14002735, 'David E. Talbert': 13956509, 'Peter Landesman': 13623572, 'John Michael McDonagh': 13560274, 'Marcus Raboy': 13526835, 'Ricky Gervais': 13412793, 'Matthew Robinson': 13412793, 'Dennie Gordon': 13287695, 'Rob Pritts': 12978402, 'John Schultz': 12881056, 'Don Mancini': 12829644, 'Jonathan Frakes': 12793283, 'Harold Cronk': 12789000, 'Christopher Guest': 12750246, 'Billy Ray': 12689727, 'Bonnie Hunt': 12609995, 'Glen Morgan': 12510851, 'Gregory Poirier': 12430766, 'James Foley': 12295611, 'Jim Sheridan': 12263217, 'Stephen St. Leger': 12204030, 'James Mather': 12204030, 'Fred Savage': 12197398, 'Troy Nixey': 11993168, 'Wong Kar-wai': 11786738, 'Jeff Nichols': 11587700, 'Kevin Bray': 11482931, 'Phil Joanou': 11480851, 'Ethan Maniquis': 11327899, 'Elizabeth Allen Rosenbaum': 11006849, 'Doug Atchison': 10948425, 'Anand Tucker': 1092

In [34]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [35]:
target = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
for actor in target:
    mask = data['cast'].str.contains(actor)
    profit = data[mask]['profit'].sum()
    print(actor[0:3] ,profit)

Emm 6666245597
Joh 4776417000
Mic 4608031235
Orl 5148578162
Rup 6408638290

In [36]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [37]:
target = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
for actor in target:
    mask = ((data['cast'].str.contains(actor))&(data['release_year'] == 2012))
    profit = data[mask]['profit'].sum()
    print(actor,profit)

Nicolas Cage -32893443
Danny Huston -32893443
Kirsten Dunst -68109207
Jim Sturgess -23410657
Sami Gayle -32893443

In [38]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [39]:
target = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
for actor in target:
    result = ((data['cast'].str.contains(actor))&(data['budget']>data['budget'].mean())).sum()
    print(actor, result)

Tom Cruise 15
Mark Wahlberg 14
Matt Damon 18
Angelina Jolie 16
Adam Sandler 17

In [40]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [41]:
genre = ['Drama', 'Action', 'Thriller', 'Adventure', 'Crime']
for g in genre:
    mask = ((data['cast'].str.contains('Nicolas Cage'))&(data['genres'].str.contains(g))).sum()
    print(g, mask)

Drama 12
Action 17
Thriller 15
Adventure 7
Crime 10

In [42]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [43]:
studio = ['Universal', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox Film Corporation', 'Universal Pictures']
for s in studio:
    mask = (data['production_companies'].str.contains(s)).sum()
    print(s, mask)

Universal 185
Paramount Pictures 122
Columbia Pictures 163
Warner Bros 183
Twentieth Century Fox Film Corporation 109
Universal Pictures 175

In [44]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
studio = ['Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox Film Corporation', 'Universal Pictures']
for s in studio:
    result = ((data['release_year'] == 2015)&(data['production_companies'].str.contains(s))).sum()
    print(s, result)

Paramount Pictures 7
Columbia Pictures 7
Warner Bros 12
Twentieth Century Fox Film Corporation 8
Universal Pictures 11

In [46]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [47]:
studio = ['Universal','Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Walt Disney', 'Universal Pictures']
for s in studio:
    mask = ((data['production_companies'].str.contains(s))&(data['genres'].str.contains('Comedy')))
    result = data[mask]['profit'].sum()
    print(s, result)

Universal 9130349034
Paramount Pictures 3055625722
Columbia Pictures 7161805266
Warner Bros 4370928916
Walt Disney 7975933215
Universal Pictures 8952422726

In [48]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [49]:
studio = ['Universal','Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Lucasfilm', 'Universal Pictures']
for s in studio:
    mask = ((data['production_companies'].str.contains(s))&(data['release_year'] == 2012))
    s_result = data[mask]["profit"].sum()
    print(s, s_result)

Universal 1981011579
Paramount Pictures 410726715
Columbia Pictures 2501406608
Warner Bros 1258020056
Lucasfilm -7634623
Universal Pictures 1981011579

In [50]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [51]:
mask = data['production_companies'].str.contains('Paramount Pictures')
data[mask].sort_values('profit').head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.722330,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034
1124,tt0300556,1.047214,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,176,5.1,2003,-60519261
1723,tt0435705,1.068126,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,499,5.9,2007,-51788987
1624,tt0375173,0.898601,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,140,5.4,2004,-46604061
1632,tt0315297,0.767870,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,67,5.7,2004,-24805000

In [52]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [53]:
data.groupby(['release_year']).sum().sort_values('profit')

,popularity,budget,revenue,runtime,vote_count,vote_average,profit
release_year,,,,,,,
2000,83.906725,4562700000,10664099805,9956,39469,542.5,6101399805
2001,118.804643,5067150000,13017764865,11284,54986,619.8,7950614865
2006,143.461700,6083965000,14775042320,13952,61517,775.4,8691077320
2005,141.030028,6327500000,15309425558,13387,59431,733.5,8981925558
2002,127.017597,5134000000,14136361487,11528,54743,653.1,9002361487
2003,129.851775,5117300000,14346123312,10623,57598,574.4,9228823312
2004,142.901974,6029250000,15663430720,12014,66099,671.3,9634180720
2007,146.148186,6596495000,18162406801,14305,72225,809.3,11565911801
2008,158.907759,6588900000,18252781990,12979,84574,731.1,11663881990
2010,179.199055,7965000000,21082292530,13692,106841,768.5,13117292530
2009,175.264020,6838046652,20261791024,14187,97625,800.2,13423744372
2011,205.056209,7946550531,22676791872,15355,113342,868.5,14730241341
2013,216.388656,7970620000,23213799791,15039,167162,846.9,15243179791
2012,194.340559,7002000000,23079001687,12145,150430,682.1,16077001687
2014,374.517350,7008050000,23405862953,13444,155491,774.5,16397812953
2015,412.757717,6780630004,25449202382,13355,143377,755.2,18668572378

In [54]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [55]:
mask = data['production_companies'].str.contains('Warner Bros')
data[mask].groupby(['release_year']).sum().sort_values('profit')

,popularity,budget,revenue,runtime,vote_count,vote_average,profit
release_year,,,,,,,
2000,7.641420,572900000,1025531386,1333,2163,68.0,452631386
2006,14.476679,901000000,1521170743,1504,7291,81.0,620170743
2015,30.133961,820800003,1691168351,1358,11574,75.9,870368348
2002,15.070224,680000000,1702709901,1281,5851,70.6,1022709901
2012,12.593044,611500000,1869520056,579,11729,30.0,1258020056
2001,21.133885,923000000,2266545668,1571,10494,83.6,1343545668
2005,22.482668,861000000,2412980298,1193,13203,63.0,1551980298
2004,21.125522,1100000000,2731933725,1624,10964,78.7,1631933725
2013,22.296746,963500000,2599953400,1100,19352,59.9,1636453400
2009,24.294407,915500000,2737954136,1305,16473,67.9,1822454136
2003,17.562360,890000000,2745493377,1085,8516,56.7,1855493377
2011,23.499629,974000000,2845393682,1248,15559,68.3,1871393682
2010,26.441327,1034000000,3008712985,1421,20286,79.6,1974712985
2008,23.986384,916000000,3050595031,1366,17455,72.0,2134595031
2007,22.396365,982000000,3183675217,1721,15760,95.4,2201675217
2014,63.903623,947600000,3243064519,1576,24855,88.9,2295464519

In [56]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [57]:
data['month'] = data['release_date'].apply(lambda x: x.split('/')[0]).astype('int32')
data['month'].value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [58]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [59]:
mask = (data['month'] == 6)|(data['month'] == 7)|(data['month'] == 8)
data[mask]['imdb_id'].count()

450

In [60]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [61]:
mask = (data['month'] == 1)|(data['month'] == 2)|(data['month'] == 12)
data[mask].groupby(['director']).count().sort_values('month')

,imdb_id,popularity,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,month
director,,,,,,,,,,,,,,,,,
Aaron Seltzer|Jason Friedberg,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
McG,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Matthew Vaughn,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Matthew O'Callaghan,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Matt Reeves,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Adam Shankman,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Shawn Levy,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Steven Soderbergh,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Clint Eastwood,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7

In [62]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [63]:
s = set()
for date in data['release_year']:
    s.add(date)

pivot = data.pivot_table(values=['profit'],
index=['release_year'],
columns=['month'],
aggfunc='sum')
display(pivot)

best_month_array = []
bm = set()
for year in s:
    year_best_month = pivot.loc[year].idxmax()[1]
    best_month_array.append(year_best_month)
    bm.add(year_best_month)
for month in bm:
    print(month ,best_month_array.count(month))

                 profit                                                 \
month                1          2           3           4           5
release_year
2000          -26344591  310137593   490709929   124362846  1382722190
2001          127876758  178360689   396218262   659725033   767934975
2002           13657034  557847442   832386092   343737203  1421928692
2003          145423503  422979087   160261385   479653942  2000292657
2004          223449403  727540831   307233119   275005057  2412578839
2005          419099490  506931359   440128754   178673498  1575566228
2006          138996816  317624889   799504296   361121653   985092012
2007           91188025  500661304   714586308   143245753  2042169546
2008          440344541  987454669   251671904   720571689  1744305931
2009          996529660  326413800  1276096794   651749767  1435747314
2010          233051923  671341193  1471122239   841530415  1105092975
2011          591644835  642751509  1443419914  1507477958  1917491757
2012          381045653  573073426  1459834347  1767272417  1140614925
2013          449051535  509981099   970223425  1423545114  1724496337
2014          541637085  736685970  1768873778   795767674  2279978281
2015          630233784  884789565   937945994  2602565518  1103503482

                                                                          \
month                 6           7           8           9           10
release_year
2000           517315528   563809888   264018332   175306761   399938512
2001           780612105   873718941   726979609    21874909   146204533
2002           747704475   629306797   579318434   417267245   420527680
2003           406445507  1356384641   444992536   503313816   837090991
2004          1294266591   834850950   332763539   475369751   593314410
2005          1193230558   870215460   266644459   995622427   154493344
2006          2098059770   242337901   429249082   451456811   826087838
2007          2764341802   747619985   881421482   435838557   516228592
2008          1943384763  1791301749   325382603   339476350  1145762453
2009          1520284741  1202339588   803565587   393041320   836577088
2010          2449561498  1567485183   971023396  1091274243  1080204976
2011          1524706926  2331661017   667283164   733166385   968743489
2012          2965481705   940512033   702588445  1308166465  1320250459
2013          2411922008  1192996016   590070005  1165693297  1042812263
2014          1176264662  1611081683  1163610627   596366679  1764509467
2015          3757679861  1552273188   491699146  1775686025   942161764


month                 11          12
release_year
2000           487934818  1411487999
2001          1567240927  1703868124
2002          1190606216  1848074177
2003           609390731  1862594516
2004          1050846495  1106961735
2005          1027204825  1354115156
2006          1106305898   935240354
2007           896805244  1831805203
2008           847289768  1126935570
2009           558158975  3423239738
2010           736020890   899583599
2011           859313689  1542580698
2012          2412991475  1105170337
2013          2047380217  1715008475
2014          2043956761  1919080286
2015          1212708544  2777325507

12 4
5 4
6 7
7 1

In [64]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [65]:
mask = data['production_companies'].str.contains('Four By Two Productions')
data[mask]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,month
1449,tt0443453,1.930735,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,979,6.4,2006,243572744,11

In [66]:
data['title_len'] = data['original_title'].str.len()

companies = set()
companies_series = data['production_companies'].str.split('|')
for row in companies_series:
    for studio in row:
        companies.add(studio)
        
mean_array = []
for company in companies:
    mask = data['production_companies'].str.contains(company, regex = False)
    mean_title = data[mask]['title_len'].mean()
    mean_array.append(mean_title)
result = pd.Series(data=mean_array, index=companies)
print(result.sort_values().tail(50))
print(len(companies), len(mean_array))

The Collective Studios               33.0
Atlantic Television                  33.0
Square USA                           33.0
China Movie Channel                  34.0
Linsefilm                            34.0
Unity Productions                    34.0
Funky Buddha Productions             34.0
Sparkler Entertainment               34.0
Michael Cerenzie Productions         34.0
Patalex IV Productions Limited       35.0
Lucasfilm                            35.0
Capella International                36.0
What to Expect Productions           36.0
Hammer & Tongs                       36.0
KC Medien AG                         36.0
Alloy Entertainment                  37.0
Mr. Smith Productions                37.0
Unique Features                      37.0
Blue Flower Productions              37.0
Riff Raff Film Productions           37.0
Lipsync Productions                  37.0
Filmauro                             37.0
Natural Nylon Entertainment          37.0
JD Productions                       37.0
Intandem Films                       37.0
Aramid Entertainment Fund            37.0
Chris Brinker Productions            38.0
Alberta Film Entertainment           38.0
MIRACLE Productions GmbH & Co. KG    39.0
The Javelina Film Company            39.0
Samuel Goldwyn Films                 39.0
Propeler                             40.0
Nickelodeon Animation Studios        40.0
P of A Productions Limited           40.0
Ozumi Films                          40.0
United Plankton Pictures             40.0
Cool Music                           41.0
Iron Film                            41.0
Harry Potter Publishing Rights       41.0
TSBD Canada Productions              41.0
Second Mate Productions              41.0
3Foot7                               41.0
Total Entertainment                  41.0
Zohar International                  41.0
The Saul Zaentz Company              43.0
Museum Canada Productions            46.0
Polsky Films                         46.0
Dos Corazones                        47.0
Jim Henson Company, The              59.0
Four By Two Productions              83.0
dtype: float64
1772 1772

In [67]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [68]:
data['title_words_count'] = data['original_title'].str.split().apply(len)

mean_array = []
for company in companies:
    mask = data['production_companies'].str.contains(company, regex = False)
    mean_title = data[mask]['title_words_count'].mean()
    mean_array.append(mean_title)
result = pd.Series(data=mean_array, index=companies)
print(result.sort_values().tail(50))
print(len(companies), len(mean_array))

Alberta Film Entertainment                 6.0
Smoke House                                6.0
The Javelina Film Company                  6.0
Funky Buddha Productions                   6.0
Unique Features                            6.0
K. JAM Media                               6.0
Unity Productions                          6.0
Capella International                      6.0
Mostow/Lieberman Productions               6.0
Mr. Mudd Production                        6.0
Propeler                                   6.0
British Broadcasting Corporation (BBC)     6.0
Ikiru Films                                6.0
The Tyler Perry Company                    6.0
Yellow Bird                                6.0
Linsefilm                                  6.0
Kontsept Film Company                      6.0
Atlantic Television                        6.0
Hammer & Tongs                             6.0
Lucasfilm                                  6.8
Crying Box Productions                     7.0
Intandem Films                             7.0
Blue Flower Productions                    7.0
Aramid Entertainment Fund                  7.0
Iron Film                                  7.0
Nickelodeon Animation Studios              7.0
United Plankton Pictures                   7.0
Lipsync Productions                        7.0
Natural Nylon Entertainment                7.0
Filmauro                                   7.0
Riff Raff Film Productions                 7.0
Patalex IV Productions Limited             7.0
Second Mate Productions                    7.0
Chris Brinker Productions                  7.0
MIRACLE Productions GmbH & Co. KG          7.0
P of A Productions Limited                 7.0
Ten Thirteen Productions                   7.0
Samuel Goldwyn Films                       7.5
Zohar International                        8.0
TSBD Canada Productions                    8.0
Total Entertainment                        8.0
3Foot7                                     8.0
Cool Music                                 8.0
Museum Canada Productions                  8.0
Harry Potter Publishing Rights             8.0
Polsky Films                               9.0
Dos Corazones                              9.0
The Saul Zaentz Company                    9.0
Jim Henson Company, The                   10.0
Four By Two Productions                   12.0
dtype: float64
1772 1772

In [69]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [70]:
p = set()
for row in data['original_title']:
    for word in row.lower().split():
        p.add(word)
len(p)

2461

In [71]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [72]:
q = data['vote_average'].quantile(0.99)
mask = data['vote_average'] > q
data[mask]['original_title'].sort_values()

1192                                 12 Years a Slave
128                                         Gone Girl
119                           Guardians of the Galaxy
370                                         Inception
9                                          Inside Out
118                                      Interstellar
1801                                          Memento
34                                               Room
600                                   The Dark Knight
138                          The Grand Budapest Hotel
125                                The Imitation Game
1082    The Lord of the Rings: The Return of the King
873                                       The Pianist
1184                          The Wolf of Wall Street
Name: original_title, dtype: object

In [73]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [74]:
data['cast'].str.split('|')
actor = [['Johnny Depp', 'Helena Bonham Carter'], ['Hugh Jackman', 'Ian McKellen'], ['Vin Diesel', 'Paul Walker'], ['Adam Sandler', 'Kevin James'], ['Daniel Radcliffe', 'Rupert Grint']]
for pair in actor:
    result = (data['cast'].str.contains(pair[0])&data['cast'].str.contains(pair[1])).sum()
    print(result)

6
5
5
5
8

In [75]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [76]:
def hip(hop):
    if hop:
        return 1
    return 0
    
data['is_profit'] = (data['profit']>0).apply(hip)

directors = ['Quentin Tarantino', "Steven Soderbergh", 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
for diror in directors:
    mask = data['director'].str.contains(diror)
    result = data[mask]['is_profit'].mean()
    print(diror, result)

Quentin Tarantino 0.8571428571428571
Steven Soderbergh 0.7692307692307693
Robert Rodriguez 0.7272727272727273
Christopher Nolan 1.0
Clint Eastwood 0.8333333333333334

In [77]:
answer_ls.append(4)

# Submission

In [78]:
len(answer_ls)

36

In [79]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       4
11  12       2
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4